@model Mvc_BO.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do Aluno</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.Foto)*@
            <img src="@Url.Content(@Model.Foto)" alt="@Model.Texto" />
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>*@
        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Retornar para Lista</a>
</div>
